.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 25px;
    padding:10px;
    background-color: rgb(244, 247, 244);
}



@media screen and (max-width: 380px) {
    .container {
        display: block;
        height: 35px;
    }
}