.container {
    background-color: rgb(240, 243, 240);
    width: 320px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 3px rgb(151, 151, 151);
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    position: relative;
}

.container:hover {
    border: 1px solid black;
}

.logo {
    background-color: white;
    width: 55px;
    height: 40px;
    border-radius: 25px;
    margin: auto;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text {
    margin-top: 15px;
    font-size: 20px;
}

.textButton {
    background-color:rgb(102, 125, 103);
    color: white;
    height: 35px;
    margin: auto;
    border-radius: 10px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    margin: auto;
    position:absolute;
    bottom: 15px;
    left: 22%;
}
