.upperContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    height: 95px;
    background-color: rgb(197, 235, 199);
}

.buttons {
    margin: auto;
    height: 75px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 30px 0;
    background-color: rgb(197, 235, 199);
    font-weight: 900;
    flex-wrap: wrap;
    padding-right: 25px;
}

.button {
    border: transparent;
    width: 140px;
    cursor: pointer;
    background-color: rgb(197, 235, 199);
    font-weight: 700;
    font-size: 18px;
}

.button:hover {
    background-color: white;
}

.button:active {
    background-color: bisque;
}

@media screen and (max-width: 600px) {
    .buttonsContainer {
        height: 130px;
    }
    .buttons {
        height: 100px;
    }
    .button {
        border: 1px solid black;
        margin-top: 6px;
        border-radius: 5px;
        margin-right: 3px;
    }
}

